# C++ template
# Compiled Object files
Codice/*.slo
Codice/*.lo
Codice/*.o
Codice/*.obj

# Precompiled Headers
Codice/*.gch
Codice/*.pch

# Compiled Dynamic libraries
Codice/*.so
Codice/*.dylib
Codice/*.dll

# Fortran module files
Codice/*.mod

# Compiled Static libraries
Codice/*.lai
Codice/*.la
Codice/*.a
Codice/*.lib

# Executables
Codice/*.exe
Codice/*.out
Codice/*.app
Codice/*.win

# Other
Codice/*.layout

# File .csv
Codice/*.csv
